body {
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);

}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
    display: flex;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
    
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    justify-content: space-around;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}

article {
    background-color: white;
    padding: ;
    width: 550px;
    margin: ;
    justify-content: space-around;
}

.article-but {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    background-color: #AC1313;
    
}

footer {
    background-color: white;
    padding: ;
    display: flex
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}
nav a {
    margin: 40px;
}
img {
    margin-left: 30px;
    width: 100%;
}
.article-but {
    margin-left: 100px;
    margin-bottom: 140px;
}
h2 {
    margin-left:100px;
    margin-bottom: 90px;
}
p {
    margin-left: 100px;
    margin-bottom: 30px;
}
.bot {
    margin-right: 1px;
}



